{% extends 'scribe/base.html' %}

{% load widget_tweaks %}
{% load static %}



{# TODO: refactor and beautify, add labels etc. #}
{# THIS IS PROTOTYPE!! #}


{% block content %}


<div class="container">
  <form method="POST" id='add_transit_route' action=''> {% csrf_token %}
    
      <div class='row jumbotron text-center'>
        <div class ='col'>
          <h1>Poczatek trasy</h1>
            {% for field in transit_points_form|slice:":4" %}
              <p>{{ field.label_tag }} </br>
            {{ field }}</p>
            {% for error in field.errors %}|
              <p style="color: red">{{ error }}</p>
            {% endfor %}{% endfor %}
        </div>
        <div class ='col'>
          <h1>Cel trasy</h1>
            {% for field in transit_points_form|slice:"4:" %}
              <p>{{ field.label_tag }} </br>
            {{ field }}</p>
            {% for error in field.errors %}|
              <p style="color: red">{{ error }}</p>
            {% endfor %}{% endfor %}
        </div>
      <input type="submit" name="" value="Oblicz" class='btn btn-primary' id="calculate">
      </div>
  </form>
</div>
<p></p>


<div class="container" style="margin: 0 auto;">
  <table class="table table-striped" id='here'>
    <thead>
        <tr>
          <th></th>
          <th>Ulica</th>
          <th>Numer</th>
          <th>Miasto</th>
          <th>Wojewodztwo</th>
          <th></th>
          <th>Ulica</th>
          <th>Numer</th>
          <th>Miasto</th>
          <th>Wojewodztwo</th>
          <th>Odleglosc</th>
          <th>Zaplata</th>
          <th>Data</th>        
        </tr>
      </thead>
      <tbody id='tbody'>
        {% for route in all_routs %}
        <tr>
          <td>Z</td>
          <td>{{ route.source_adress_street }}</td>
          <td>{{ route.source_adress_number }}</td>
          <td>{{ route.source_adress_city }}</td>
          <td>{{ route.source_adress_district }}</td>
          <td>DO</td>
          <td>{{ route.endpoint_adress_street }}</td>
          <td>{{ route.endpoint_adress_number }}</td>
          <td>{{ route.endpoint_adress_city }}</td>
          <td>{{ route.endpoint_adress_district }}</td>
          <td>{{ route.distance_in_km }} km</td>
          <td>{{ route.paycheck_for_route }} PLN</td>
          <td>{{ route.transit_date|date:'Y-m-d' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>




{% endblock %}


{% block javascript %}

<script type = "text/javascript" language = "javascript">
$( "#add_transit_route" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  var $form = $( this ),
    term = $form.serialize(),
    url = $form.attr("action");

  // Send the data using post
  var posting = $.post( url,  term  );

  // Put the results in a div
  posting.done(function(data) {
    $('#here').prepend('<tr><td>' + data.frome + '</td><td>' + 
      data.source_adress_street + '</td><td>' + 
      data.source_adress_number + '</td><td>' + 
      data.source_adress_city + '</td><td>' + 
      data.source_adress_district + '</td><td>' +  
      data.to + '</td><td>' + 
      data.endpoint_adress_street + '</td><td>' +  
      data.endpoint_adress_number + '</td><td>' + 
      data.endpoint_adress_city + '</td><td>' +  
      data.endpoint_adress_district + '</td><td>' + 
      data.distance_in_km + ' km' + '</td><td>' + 
      data.paycheck_for_route + ' PLN' + '</td><td>' + 
      data.transit_date + '</td></tr>'
      );
    
       
  });
  /*$('#add_transit_route')[0].reset();*/ /*TODO UNCOMMENT THIS!*/
});

 </script>

{% endblock %}